.info{
    width : 96%;
    background : linear-gradient(yellow , orange);
    height: 3rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.info span{
    color : white;
    font-weight: bolder;
}