.loader,
.loader:after {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(21,146,12, 0.2);
  border-right: 1.1em solid rgba(21,146,12, 0.2);
  border-bottom: 1.1em solid rgba(21,146,12, 0.2);
  border-left: 1.1em solid #15920c;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes colors{
      from{
        background: rgb(105, 182, 105);
      }
      20%{
        background : rgb(152, 177, 209);
      }
      40%{
        background: rgb(202, 153, 153);
      }
      60%{
        background : rgb(235, 235, 136);
      }
      80%{
        background: rgb(228, 203, 157);
      }
      100%{
        background: rgb(151, 207, 62);
      }
}

.top{
  position: fixed;
  top : 0;
  left : 0;
  height: 0.5rem;
  width : 100%;
  animation : colors 5s infinite ease-in-out;
}