.player{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin : 1rem 0 0 0;
    background: linear-gradient( rgb(155, 218, 155) , rgb(161, 194, 223));
    position:relative;
    padding: 0.5rem;
    box-shadow: -5px 5px 5px 1px rgb(211, 209, 209);
    border-radius: 10px;
}
.player .username{
    color : white;
    font-weight: bolder;
    overflow: hidden;
}
.player span{
    margin : 0 0.5rem;
    width: 2.8rem;
    text-align: center;
    font-size: 0.9rem;
}
.player .score{
    font-weight: bolder;
    color: green;
}
.player .pencil{
    transform: scale(0.5);
}
.player.guessed{
    border: 1px solid green;
    background: rgb(248, 226, 226);
}
.player .remove{
   height : inherit;
   width: 1rem;
   margin-right: 1rem ;
   display: none;
   cursor: pointer;
   position: absolute;
   top : 1.5rem;
   right: 0;
   margin-right: -1rem;
}
.player:hover .remove{
    display: block;
}

.player strong{
    color: grey;
}
