.alert{
    width : 100%;
    padding : 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin: 2rem 0;
    overflow-wrap: break-word;
    box-sizing: border-box;
    position: relative;
}
.alert.success{
    background: linear-gradient(rgb(169, 221, 169) , rgb(186, 216, 186));
    color : rgb(97, 197, 97);
}
.alert.error{
    background: rgb(235, 194, 194);
    color : rgb(209, 80, 80);
}

.hide{
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left: 0;
    background: rgb(223, 241, 227);
    border-radius:inherit;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(156, 206, 209);
    font-weight: bolder;
    font-family: cursive;
    cursor: pointer;
}

.hide:hover{
    opacity : 0%;
    transition: 0.2s;
}