.message{
    display: inline-block;
    word-break: break-all;
    padding : 1rem;
    background: rgb(230, 255, 252);
    margin : 0.5rem 0.5rem;
    font-family: sans-serif;
    font-weight: bolder;   
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    width: 90%;
    box-sizing: border-box;
}
.message .username{
    margin-right: 1rem;
    font-weight: bold;
    color : rgb(74, 189, 74);
}

.message .info{
    color: rgb(74, 189, 74) ;
}

.message.yellow{
    background: rgb(255, 255, 153);
}

.message.yellow .info{
    color : orange;
    
}
