.user{
    display: flex;
    width: auto;
    margin-bottom: 0.5rem;
    background: rgb(225, 241, 225);
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    transform:  scale(0.9);
}
.user span{
    margin : 0 0.5rem;
    width : 5.5rem;
    text-align: center;
}
.user .username{
    color: rgb(56, 194, 56);
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    width: 5rem;
}
.user .last_seen{
    color: rgb(136, 129, 129);
    font-weight: bold;
}
.user div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    width : 5.5rem
}
.user div .online{
    height : 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    background: green;
    margin : 0 0.5rem 0 0;
}
