.user{
    display: flex;
    padding: 0.1rem 0.3rem;
    width: auto;
    margin-bottom: 0.5rem;
    background: rgb(225, 241, 225);
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    border: 0.5px solid rgb(98, 173, 98);
    box-sizing: border-box;
}
.user span{
    margin : 0 1rem;
    width : 3rem;
}
.user .username{
    color: rgb(56, 194, 56);
    font-weight: bold;
}
.user .last_seen{
    color: rgb(136, 129, 129);
    font-weight: bold;
}
.online{
    height : 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    background: green;
    margin: 0 1rem;
}
.user div{
    display: flex;
    justify-content: center;
    align-items: center;
}