.button{
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 20px;
    background:linear-gradient(yellow , orange);
    color: white;
    font-weight: bolder;
    opacity: 100%;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: -5px 5px 10px 2px rgb(206, 205, 205);
}
.button:hover{
    background: radial-gradient(yellow , orange) ;
}
.button.disabled{
    background: rgb(231, 227, 227);
    border: rgb(231, 227, 227);
    color : grey
}

.button.blue{
    background: linear-gradient(rgb(71, 173, 204) , rgb(142, 187, 224));
    border: 0px solid white;
}

.button.green{
    background: linear-gradient(rgb(39, 170, 89) , rgb(115, 211, 139));
}

.button.green:hover{
    background: radial-gradient(rgb(147, 221, 147) , rgb(77, 230, 77));
}

.button.blue:hover{
    background: radial-gradient(rgb(165, 224, 233) , rgb(52, 152, 192));
}
