.user{
    width : 5rem ; 
    margin-right : 0.3rem;
    text-align : center;
    margin-bottom : 2rem;
    position : relative;
    box-sizing: border-box;
}

.user .label{
    color : green
}
.user .options{
    display: none;
    cursor: pointer;
}
.user:hover .options{
    display: block;
}
.user:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.user .username{
    display: inline-block;
    overflow: hidden;
    width: 4rem;
}